# Dependencias
node_modules/
jspm_packages/
.pnp
.pnp.js

# Producción
dist/
dist-ssr/
build/
*.local

# Logs
logs
*.log
npm-debug.log*

# Editor y Entorno local
.idea/
.vscode/
!.vscode/extensions.json
.env
.env.*

# Temporales Vite/Turbo
.vite-temp/
.turbo/