# IDEs y Editores
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Dependencias accidentales en raíz y subcarpetas
node_modules/
**/node_modules/

# Bloqueo total de carpetas de compilación Java
target/
**/target/
build/
**/build/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
Desktop.ini

# Archivos de entorno (Seguridad)
.env
.env.*

# Logs
*.log