# IDEs
.idea/
.vscode/
*.iml

# Dependencias accidentales en raíz
node_modules/
**/node_modules/

# OS y Temporales
.DS_Store
Thumbs.db
.*-lock.json

# Entorno
.env
.env.*
# Excepcion: .env.example se versiona como template
!.env.example

# Maven logs
*.log
mvn-test.log
mvw-debug.log
target/
